.border{
  border-radius: 25px;
  border: 90px solid transparent;
  border-image: url("../images/Schedule1.png") 400;
}
.borderM{
  border-radius: 25px;
  border: 35px solid transparent;
  border-image: url("../images/ScheduleM.png") 60;
}