.border{
  border-radius: 25px;
  border: 45px solid transparent;
  border-image: url("../images/Schedule1.png") 200;
}
.borderM{
  border-radius: 20px;
  border: 25px solid transparent;
  border-image: url("../images/ScheduleM.png") 40;
}