.padit {
  padding-top: 3.5vh;
}
@media screen and (max-height: 900px) and (min-height: 700px) {
  .padit {
    padding-top: 4vh;
  }
}
@media screen and (max-height: 700px) and (min-height: 400px) {
  .padit {
    padding-top: 2.8vh;
  }
}
@media screen and (min-width: 900px) {
  .padit {
    padding-top: 7.8vh;
  }
}
.heightfix {
  height: 230px;
}
.box {
  width: 200px;
  height: 270px;
}
.card {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .leftit {
    transform: scale(0.5);
  }
}
.borderitim {
  /* padding: 15px; */
  border: 3.5px solid transparent;
  border-image: url("../images/Golden Box.png") 30 stretch;
}
.rightcard {
  transform: scale(0.5);
  transform-origin: top right;
}
.lefttcard {
  transform: scale(0.5);
  transform-origin: top left;
}
.widthis {
  width: 50px;
  height: 360px;
}
.leftmost{
  top:-5.5rem;
}
@media screen and (max-height:1000px) and (max-width:768px) {
  .leftmost{
    top:-2rem;
  }
}
@media screen and (max-width: 540px) {
  .widthis {
    width: 20px;
    height: 160px;
  }
}
.initialcardop {
  transform: scale(0.75);
  transform-origin: top 0;
}
.cardcoord {
  transform: scale(0.7);
  transform-origin: top ;
  margin:  0px auto;
}


